{% extends 'datatables-template.html' %}

{% block page_title %} {{ super() }} {% endblock %}

{% block styles %}
  {{ super() }}
{% endblock %}




{% block page_scripts %}



  <script>
 /*   const tables = "products,dosing";
    const join_type = "inner";
    const conditions = JSON.stringify([["products.id", "dosing.prod_id"]]);
    const override_url = `/api/get/advanced_join?tables=${tables}&join_type=${join_type}&conditions=${encodeURIComponent(conditions)}`;
    console.log(override_url);
    
*/
  </script>

  
  {{ super() }}

{% endblock %}