{% extends 'jqgrid-template.html' %}

{% block page_title %} Modify Doser {% endblock %}
{% block scripts %}
  {{super()}}
{% endblock %}
{% block content %}
<div class="applet-container">
  <div class="grid-container">
    <!-- Products Table -->
    <div class="grid-item">
      <div class="title">
        <h3>Products Table</h3>
      </div>
      <div class="content table-container">
        <div id="productsGridBox">
          <table id="productsTable"></table>
          <div id="productsTablePager"></div>
        </div>
      </div>
    </div>

    <!-- Manual Dosing Table -->
    <div class="grid-item">
      <div class="title">
        <h3>Manual Dosing Table</h3>
      </div>
      <div class="content table-container">
        <div id="manualDosingGridBox">
          <table id="manual_DosingTable"></table>
          <div id="manual_DosingTablePager"></div>
        </div>
      </div>
    </div>

    <!-- Placeholder for another table -->
    <div class="grid-item full-width">
      <div class="title">
        <h3>Another Table</h3>
      </div>
      <div class="content table-container">
        <div id="anotherGridBox">
          <table id="anotherTable"></table>
          <div id="anotherPager"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}



{% block page_scripts %}
  {{super()}}
  <script>
    $(document).ready(function () {
      // Initialize jqGrid for Products Table
      $("#productsTable").jqGrid({
        url: "/api/get_products",
        datatype: "json",
        mtype: "GET",
        colModel: [
          { label: "Name", name: "name", editable: true, formatoptions: { defaultValue: '' } },
          { label: "Dose Amount", name: "dose_amt", editable: true, formatoptions: { defaultValue: '' } },
          { label: "Total Volume", name: "total_volume", editable: true, formatoptions: { defaultValue: '' } },
          { label: "Current Available", name: "current_avail", editable: true, formatoptions: { defaultValue: '' } },
          { label: "Used Amount", name: "used_amt", editable: false },
        ],
        pager: "#productsTablePager",
        rowNum: 10,
        rowList: [10, 20, 30],
        sortname: "id",
        sortorder: "asc",
        viewrecords: true,
        shrinkToFit: true,
        caption: "Editable Products Table",
        editurl: "/api/edit_products",

      });


      // Initialize jqGrid for Manual Dosing Table
      $("#manual_DosingTable").jqGrid({
        url: "/api/get_manual_dosing",
        datatype: "json",
        mtype: "GET",
        colModel: [
          { label: "Added On", name: "added_on", editable: true, sorttype: "date", formatoptions: { defaultValue: new Date().toISOString().split('T')[0] } },
          { label: "Dosed At", name: "dosed_at", editable: true, formatoptions: { defaultValue: new Date().toISOString().split('T')[1].slice(0, 8) } },
          { label: "Product", name: "product", editable: true, formatoptions: { defaultValue: '' } },
          { label: "Amount", name: "amount", editable: true, formatoptions: { defaultValue: '' } },
          { label: "Reason", name: "reason", editable: true, formatoptions: { defaultValue: '' } },
        ],
        pager: "#manual_DosingTablePager",
        rowNum: 10,
        rowList: [10, 20, 30],
        sortname: "id",
        sortorder: "asc",
        viewrecords: true,
        shrinkToFit: true,
        caption: "Editable Manual Dosing Table",
        editurl: "/api/edit_manual_dosing",
      })

    $(window).trigger("resize"); // Trigger resize to set initial width
    });
  </script>
{% endblock %}