*, *::before, *::after {
  box-sizing: border-box !important;
  font-family: var(--font-body); }

body {
  box-sizing: border-box;
  color: var(--text-color);
  width: 100%;
  height: 100%; }
  body::-webkit-scrollbar {
    width: 12px; }
  body::-webkit-scrollbar-track {
    background: var(--powder-blue); }
  body::-webkit-scrollbar-thumb {
    background-color: var(--outer-space);
    border-radius: 20px;
    border: 3px solid var(--powder-blue); }

* {
  scrollbar-width: auto;
  scrollbar-color: var(--outer-space) var(--powder-blue); }

body, html, .form, .form__group, .form__label, .form__field, .form__error, .form__flash, .btn, .form-select, .form-control {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1, h2, h3 {
  color: var(--text-accent); }

a {
  color: var(--link-color);
  text-decoration: none; }
  a:hover {
    color: var(--link-hover); }

.title {
  font-family: monospace;
  font-size: large;
  font-style: var(--font-title);
  padding: 1.5rem 0rem 0.5rem 0;
  flex: 0.2;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem; }

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color); }

.app-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  box-sizing: border-box; }

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; }

.footer {
  background-color: var(--background-accent);
  text-align: center;
  padding: 1rem; }

.text-primary {
  color: var(--text-primary) !important; }

.text-secondary {
  color: var(--text-primary) !important; }
