.table-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center; }

.dataTables_wrapper thead {
  background-color: var(--table-header-bg);
  /* Header background color */
  color: var(--table-header-text-color);
  /* Header text color */
  font-weight: 300 !important; }

.dataTables_wrapper thead th {
  font-family: 'Source Sans Pro', sans-serif;
  /* Match the font family */
  font-size: 1.1rem;
  /* Slightly larger font size for headers */
  font-weight: 300 !important;
  /* Bold text for headers */
  padding: 10px;
  /* Add padding for spacing */
  border-bottom: 2px solid var(--table-border-color);
  /* Add a bottom border */ }

.dataTables_wrapper thead th:hover {
  background-color: var(--table-header-hover-bg);
  /* Optional: Add hover effect for headers */
  color: var(--table-header-hover-text-color);
  /* Optional: Change text color on hover */
  cursor: pointer;
  /* Indicate that the header is clickable */ }

.dataTables_wrapper .dataTables_filter input {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 5px;
  background-color: var(--form-background);
  color: var(--text-color); }

.dataTables_wrapper .dataTables_length select {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 5px;
  background-color: var(--form-background);
  color: var(--text-color); }

.dataTables_wrapper .dataTables_info {
  color: var(--text-muted); }

.dataTables_wrapper .dataTables_filter label {
  color: var(--text-muted); }

.dataTables_wrapper .dataTables_length label {
  color: var(--text-muted); }

.dataTables_wrapper {
  background-color: #56666B;
  padding: 1.1rem;
  font-size: 1.2rem;
  color: var(--text-color);
  width: 100%; }

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 100%; }

.grid-container.single-table {
  grid-template-columns: 1fr; }

.grid-item {
  background-color: var(--background-color, #f9f9f9);
  padding: 1rem;
  border: 1px solid var(--border-color, #ccc);
  border-radius: 5px; }

.grid-item.full-width {
  grid-column: 1 / -1; }

.table-container {
  overflow-x: auto;
  position: relative;
  /* Ensure modal is positioned relative to the table */ }

.modal-backdrop {
  display: none;
  /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Semi-transparent background */
  z-index: 999;
  /* Ensure it appears below the modal */ }

.modal-container {
  display: none;
  /* Hidden by default */
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* Ensure it appears above other elements */ }

.modal-container.show {
  display: flex;
  width: inherit;
  height: 100%; }

.modal {
  background: var(--light-slate-gray);
  color: var(--text-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 100%;
  position: relative;
  height: fit-content;
  max-height: 80vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column; }

.modal-header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px; }

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px; }

.modal-backdrop.show {
  display: block;
  /* Show the backdrop when the "show" class is added */ }

.modal.show {
  display: block;
  /* Show the modal when the "show" class is added */
  width: inherit; }

.dataTables_wrapper .dt-buttons .dt-button.disabled {
  background-color: #6c757d;
  /* Disabled button color */
  cursor: not-allowed;
  opacity: 0.65; }

.dataTables_wrapper .dataTables_paginate .paginate_button,
.dataTables_wrapper .dt-buttons .dt-button {
  background-color: var(--light-slate-gray);
  /* Light slate gray background */
  color: var(--button-text) !important;
  /* White text */
  border: none;
  padding: 5px 10px;
  margin: 0rem 0.5rem 0.5rem 0rem; }

.dataTables_wrapper .dt-buttons {
  padding-bottom: 0.5rem; }

.dataTables_wrapper .dataTables_paginate {
  padding-top: .5em; }

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.dataTables_wrapper .dt-buttons .dt-button:hover {
  background-color: var(--button-hover) !important;
  /* Example hover background color (orange) */
  color: #FFFFFF !important;
  /* White text on hover */
  border: none !important;
  outline: 1px solid rgba(255, 255, 255, 0.3);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, var(--button-background)), color-stop(100%, var(--button-hover)));
  background: -webkit-linear-gradient(top, var(--button-background) 0%, var(--button-hover) 100%);
  background: -moz-linear-gradient(top, var(--button-background) 0%, var(--button-hover) 100%);
  background: -ms-linear-gradient(top, var(--button-background) 0%, var(--button-hover) 100%);
  background: -o-linear-gradient(top, var(--button-background) 0%, var(--button-hover) 100%);
  background: linear-gradient(to bottom, var(--button-background) 0%, var(--button-hover) 100%); }

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dt-buttons .dt-button:active {
  background-color: var(--button-background) !important;
  /* Current page background color */
  font-weight: bold; }
