
{% extends 'base.html' %}


{% block page_title %} test {% endblock %}


{% block styles %}
  {{super()}}
  <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
{% endblock %}


{% block scripts %}
  {{super()}}
  <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
{% endblock %}

{% block content %} 

<div class="title">
  <h3>test MAIN</h3>
</div>


<div class="table-container">
  <div id="table"></div>
</div>



{% endblock %}

{% block page_scripts %}s
<script>
  new gridjs.Grid({
      columns: [
    
        { id: 'test_date', name: 'Test Date' },
        { id: 'test_time', name: 'Time' },
        { id: 'alk', name: 'Alk' },
        { id: 'po4_ppm', name: 'PO\u2084\u00b3\u207b PPM' },
        { id: 'po4_ppb', name: 'PO\u2084\u00b3\u207b PPB' },
        { id: 'no3_ppm', name: 'NO\u2083\u207b PPM' },
        { id: 'cal', name: 'Ca\u00b2\u207a PPM' },
        { id: 'mg', name: 'Mg\u00b2\u207a PPM' },
        { id: 'sg', name: 'SG' },
      ],
      data: [
        {% for row in db_response %}
          {
            test_date: '{{ row.test_date }}',
            test_time: '{{ row.test_time }}',
            alk: '{{ row.alk }}',
            po4_ppm: '{{ row.po4_ppm }}',
            po4_ppb: '{{ row.po4_ppb }}',
            no3_ppm: '{{ row.no3_ppm }}',
            cal: '{{ row.cal }}',
            mg: '{{ row.mg }}',
            sg: '{{ row.sg }}',
          },
        {% endfor %}
      ],
      search: true,
      sort: true,
      pagination: true,
    }).render(document.getElementById('table'));
</script>

{% endblock %}
